@import url(https://fonts.googleapis.com/css?family=Raleway:500,700,900);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700italic);

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    color:rgba(0, 0, 0, 0.7);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 9em;
    font-weight: 700;
    font-style:italic;
    font-family: 'Vollkorn', serif;
    margin: 0;
    text-align: center;
}

h2 {
	text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration:underline;
}

#landing-page {
	height: 100%;
	width: 100%;
    background-color: rgba(123, 201, 111, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
    cursor: default;
    color: white;
}

#intro-title {
	/*All of this just vertically centers the landing page title text*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    box-sizing:border-box;
    padding: 0.5em;
}

#interactive-wrapper {
	width: 100%;
	height: 100vh;
}

#hide-shadow {
	position: relative;
	height: 4px;
	background-color: #fff;
	width: 100;
	z-index: 21;
    border-top: 1px solid #D2D2D2;
}

#map {
	position: relative;
	height: 100%;
	width: calc(100% - 300px);
	float: left;
	z-index: 1;
}

#sidebar {
	position: relative;
	height: 100%;
	width: 300px;
	float: right;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 20;
	overflow-y: scroll;
	box-sizing: border-box;
	padding: 20px;
}

.dept-button {
	width: 100%;
	border-bottom: 1px solid #eaeaea;
	padding: 0.5em;
	text-align: left;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}

.dept-button:hover {
	background-color: #7bc96f;
	color: #fff;
}

.dept-button.dept-selected,
.dept-button:hover {
    background-color: #7bc96f;
	color: #fff;
}

#sidebar-description {
	padding: 0.5em;
    width: auto;
	border-bottom: 1px solid #7bc96f;
    margin-bottom: 1em;
}

#sidebar-disclaimer {
    font-size: 0.75em;
    margin: 1em 0 0 0;
    padding: 1em 0.5em 0 0.5em;
    border-top: 1px solid #7bc96f;
}

#see-more {
    position: absolute;
    top: calc(100vh - 4em);
    left: 1em;
    width: 8em;
    height: 3em;
    box-sizing: border-box;
    padding: .75em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #7bc96f;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    text-transform:uppercase;
    z-index: 90;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}

#close-sidebar {
    display: none;
    position: relative;
    float: right;
    right: 0;
    top: 0;
    font-size: 1.5em;
    cursor: pointer;
}

#open-sidebar {
    display: none;
    position: absolute;
    right: 1em;
    top: .75em;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 50;
}

#article-text {
    max-width: calc(100% - 400px);
    width: 630px;
    margin: 6rem auto 4rem auto;
}

#article-text h1 {
    font-size: 5em;
}
#article-text h2 {
    font-weight: 400;
}

#article-text p {
    font-family: 'Vollkorn', serif;
    font-size: 1.3em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0;
}

.blockquote {
    font-size: 2em;
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    font-style: italic;
    color: #7bc96f;
    border-top: solid .25em #7bc96f;
    border-bottom: solid .25em #7bc96f;
}

#footer {
    width: 100%;
    height: 16em;
    background-color: #7bc96f;
    color: white;
}

#footer-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform:uppercase;
    text-align: center;
    font-size: 1.5em;
}

/*hides the 'x' from circle infowindows*/
.gm-style-iw + div {
    display: none;
}

.gm-style .gm-style-iw {
   text-indent: 7px;
}

.fa-map-marker {
    color: #7bc96f;
}

@media only screen and (max-width: 840px) {
    #intro-title h1 {
        font-size: 6em;
    }

    #article-text {
        max-width: calc(100% - 4em);
        margin: inherit auto;
    }

    #close-sidebar {
        display: block;
    }

    .blockquote {
        padding: 0.5em 0;
        margin: 1em 0;
    }
}

@media only screen and (min-width: 841px) {
    .blockquote {
        display: none;
        position: absolute;
        min-width: calc(200px - 2em);
        width: calc((100% - 630px)/2 - 2em);
        box-sizing: border-box;
        padding: 0;
        margin: 0 1em;
    }

    .blockquote.left {
        left: 0;
    }

    .blockquote.right {
        right: 0;
    }
}
